.border-color-main{
    border: solid 1px #820000 !important;
    opacity: 1;
}
.gridSpecList{
    display: grid;
    grid-template-columns: 1fr 100px;
    gap: 5px;
}
.gridSpecList > div{
    padding: 5px 10px;
    background-color: #f5faff;
}
.gridSpecList > div:nth-child(2n){
    text-align: right;
}
.gridSpecList > div:nth-child(4n+1),
.gridSpecList > div:nth-child(4n+2){
    background-color: #0a53be10;
}
.gridSpecList a{
    text-decoration: none;
    color: darkblue;
}
.gridSpecList a:hover{
    color: #0a53be;
}


.gridSpecDetailList{
    display: grid;
    grid-template-columns: 200px 100px 1fr 1fr;
    gap: 5px;
}
.gridSpecDetailList .grid2{
    display: grid;
    grid-template-columns: 1fr 100px;
}

a.link:not([aria-disabled=true]){
    color: var(--bs-body-color);
}
a.red-link:not([aria-disabled=true]){
    color: #570000;
}
a.red-link:hover,
a.link:hover{
    color: #aa0000;
}
a.current-count{
    position: absolute;
    background-color: #820000;
    display: block;
    right: 20px;
    border-radius: 10px;
    color: white;
    top: 15px;
    padding: 5px 10px;
    min-width: 30px;
    text-align: center;
    font-size: 15px;
}
a.current-count:hover{
    color: white !important;
    background-color: #aa0000;
}
a.sort-link{
    padding: 0 5px;
}
a.sort-link span{
    color: #820000;
    justify-self: center;
    vertical-align: middle;
    text-align: center;
    padding: 15px 0;
    background: white;
    border-radius: 15px;
    display: block;
}
a.sort-link:hover span{
    background-color: #820000;
    color: white;
}

.box{
    border: solid 1px #820000;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

.section-footer{
    background-color: #820000;
    color: #FFFFFF;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* search */
.box-search{}
.box-search button{
    border-color: #820000;
    background-color: #820000;
    color: white;
}
.box-search button:hover{
    background-color: white;
    color: #820000;
    border-color: #820000;
}
.box-search button:active{
    background-color:  #aa0000 !important;
    color: white;
}
.box-search input[name=search]{

}
.box-search input[name=search]:focus{
    box-shadow: none;
    border-color: #820000;
}