.Section_tagline{
    margin-top: 100px;
}
section.sections{
    border: solid 1px #820000;
    border-top: none;
}
section.sections .section:not(:last-child){
    border-bottom: solid 1px #820000;
}
